$light: #fff;
$dark: #1b263b;
$primary : #4f6de2;
$yellow : #e1d600;


.navbar {
    box-shadow: 0 0 10px 3px #000;
    display: flex;
    background: $dark;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;

    .logo-box {
        font-size: 1.7rem;
        color: $light;
        cursor: pointer;
    }

    &__links {
        display: flex;
        align-items: center;
        justify-content: center;


        .links__item {
            padding: .5rem 3rem;
            position: relative;
            cursor: pointer;
            color: $light;

            &.toggle.active {
                background-color: $dark;
                z-index: 999999;
                width: 100%;

                a {
                    color: $light;
                    background-color: $dark;
                    text-align: center;

                    &:hover {
                        color: $light;
                        background-color: $dark;
                    }
                }
            }

            &:hover {
                background-color: $light;

            }

            &:hover a {
                color: $dark;
            }

            .item__link {
                color: $light;
                font-weight: 900;

                &.active .toggle-list {
                    display: inline-block;
                }
            }

            &.active .toggle-list {
                display: inline-block;
            }



            .toggle-list {
                position: absolute;
                top: 100%;
                right: 0;
                width: 200px;
                background: rgba($color: $dark, $alpha: .6);
                padding: .3rem;
                display: none;

                .toggle-list__list-item {
                    width: 100%;
                }



                .list-item__link {
                    color: $light;
                    padding: 1rem;
                    width: 100%;
                    display: inline-block;
                    background-color: $dark;
                    border-bottom: 1px solid transparent;
                    transition: all .4s;

                    &:hover {
                        border-bottom: 1px solid $light;
                    }
                }
            }

        }


    }


}